	</div>
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<p>© Cook n Eat 2017 | <a href="/recipes">Home</a> | <a href="/recipes/new">New Recipe</a></p>
				</div>
				<div class="col-md-6">
					<p class="love">Made with &hearts; by Peter Han</p>
				</div>
			</div>
		</div>
	</footer>
	<script src="/js/jquery.min.js"></script>
	<script src="/js/script.js"></script>
</body>
</html>