html {
  position: relative;
  min-height: 100%
}
body {
  margin-bottom: 5%;
  font-family: 'Roboto', sans-serif;
}
textarea {
	resize: none;
}
footer {
	background: rgb(245, 245, 245);
  position: absolute;
  bottom: 0;
  width: 100%;
	height: 60px;
}
a {
	text-decoration: none!important;
}
/* Index Page*/
img.preview {
	height: 275px;
	width: 250px;
}
.thumbnail .caption {
	padding-bottom: 0;
}
#recipe-search {
	width: 69%;
}
.thumbnail-title {
	font-size: 2rem;
}
.thumbnail-username {
	font-size: 1.25rem;
}
.grey-text {
	color: rgb(108, 108, 108);
}
/* Show Page*/
.thumbnail {
	padding: 0;
}
.thumbnail img {
	width: 100%;
}
.thumbnail .caption-full {
	padding: 9px;
}
.row.recipes {
	display: flex;
	flex-wrap: wrap;
}
.delete {
	display: inline;
}
#show-title {
	font-size: 4rem;
}
/* New Page*/
.row.new>h1 {
	text-align: center;
}
.row.recipe>.form {
	width: 80%;
	margin: 50px auto;
}
.row.form2>.form {
	width: 30%;
	margin: 25px auto;
}

/*footer*/
footer>.container {
	margin-top: 1.4%;
}
.love {
	float: right;
}
